<div class="row">
  <div *ngFor="let car of cars">
    <img  src="https://localhost:44347/{{car.imagePath}}" class="rounded mx-auto d-block" alt="thumbnail" width="750" height="450"><br><br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Car Id</th>
          <th scope="col">Brand</th>
          <th scope="col">Car Name</th>
          <th scope="col">Color</th>
          <th scope="col">Description</th>
          <th scope="col">Daily Price: </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{car.id}}</th>
          <td>{{car.brandName}}</td>
          <td>{{car.carName}}</td>
          <td>{{car.colorName}}</td>
          <td>{{car.description}}</td>
          <td>{{car.dailyPrice}} TL</td>
          <td>    
          <div class="d-grid gap-2 col-6 mx-auto">
            <button routerLink="/cars/rental/{{car.id}}" class="btn btn-outline-dark" type="button">Rent</button>
          </div></td>
        </tr>
      </tbody>
    </table>


  </div>
  </div>
  <br>
  