<div class="mb-3">
  <label for="filterText" class="form-label">Search</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Enter a car name">
</div>
<div *ngIf="filterText" class="alert alert-success">
  {{filterText}} aradınız.
</div>
<div class="row">
  <div *ngFor="let car of cars" class="card" style="width: 20rem; padding: 10px; margin:10px;">
  <img  src="https://localhost:44347/{{car.imagePath}}" class="card-img-top" alt="" width="300" height="200">
  <div class="card-body">
    <h5 class="card-title">{{car.brandName}}</h5>
    <p class="card-text">{{car.description}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Color: {{car.colorName}} </li>
    <li class="list-group-item">Model: {{car.modelYear}}</li>
    <li class="list-group-item">Daily Price: {{car.dailyPrice | currency: "TRY":"":"3.2-2"}} TL</li>
  </ul>
  <div class="card-body">
    <div class="d-grid gap-2 col-8 mx-auto">
      <button   (click)="setCurrentCar(car)" routerLink="/cars/details/{{car.id}}" class="btn btn-outline-dark" type="button">Details</button>
    </div>
  </div>
</div>
</div>
<br>